Repository zxcy652022/superdog-backtest-system1: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-python-files, check-version-consistency

check-empty-python-files:
  name: Check for empty Python files
  entry: python scripts/check_empty_files.py
  language: system

check-version-consistency:
  name: Check version consistency
  entry: python scripts/check_version.py
  language: system
  pass_filenames: false

refactor: Architecture cleanup v0.6.1
  data/fetcher.txt
  data/storage.txt
  data/validator.txt
  data/新文字檔.txt
  docs/archive/v0.1-v0.2/data_v0.1.md
  docs/archive/v0.1-v0.2/v0.1_mvp.md
  docs/archive/v0.1-v0.2/v0.2_risk_upgrade.md
  docs/archive/v0.3/v0.3_SUMMARY.md
  docs/archive/v0.3/v0.3_architecture.md
  docs/archive/v0.3/v0.3_cli_spec.md
  docs/archive/v0.3/v0.3_multi_strategy_DRAFT.md
  docs/archive/v0.3/v0.3_portfolio_runner_api.md
  docs/archive/v0.3/v0.3_short_leverage_spec.md
  docs/archive/v0.3/v0.3_test_plan.md
  docs/archive/v0.3/v0.3_text_reporter_spec.md
  docs/archive/v0.4-v0.5/v0.4_strategy_api_spec.md
  docs/archive/v0.4-v0.5/v0.5_perpetual_data_ecosystem_spec.md
  strategies/base.py
  strategies/indicators.py
  strategies/mean_reversion.py
  strategies/trend_follow.py
  superdog_v06_validation_report.json
  tests/test_data.py
  tests/test_risk.py
  tests/test_strategies.py
Due: check-empty-python-files

docs: Add comprehensive cleanup report v0.6.1
  CLEANUP_REPORT_V06.md
Due: none

chore: Update validation report after cleanup
  superdog_v06_validation_report.json
Due: none

chore: Fix end-of-file for validation report
  superdog_v06_validation_report.json
Due: none

feat: Configure pre-commit for gradual flake8 fixes
  .pre-commit-config.yaml
  FLAKE8_FIXES_PLAN.md
  scripts/check_version.py
  superdog_v06_validation_report.json
Due: check-empty-python-files

fix: Resolve E402 import position errors (Batch 1 - Part 1)
  cli/main.py
  examples/kawamoku_complete_v05.py
  examples/perpetual_strategy_demo.py
  examples/phase_b_quick_demo.py
  examples/test_perpetual_data.py
  superdog_cli.py
  superdog_v06_validation_report.json
  tests/test_backtest.py
  tests/test_data_module.py
  tests/test_universe_v06.py
Due: check-empty-python-files

fix: 修復 E722 bare except 和 F821 未定義名稱錯誤
  .gitignore
  cli/main.py
  data_config.py
  execution_engine/result_analyzer.py
  risk_management/support_resistance.py
Due: check-empty-python-files

fix: 修復 F821 和 F811 錯誤
  data/universe_calculator.py
  strategies/registry_v2.py
Due: check-empty-python-files

docs: 更新 Batch 1 完成狀態
  FLAKE8_FIXES_PLAN.md
Due: none

fix: 修正文檔日期錯誤 (2024-12-08 → 2025-12-08)
  CLEANUP_REPORT_V06.md
  FLAKE8_FIXES_PLAN.md
  prevention_tools/PREVENTION_SYSTEM_GUIDE.md
  superdog_v06_governance_package/00_START_HERE.md
  superdog_v06_governance_package/DELIVERY_SUMMARY.md
  superdog_v06_governance_package/README_EXECUTION_GUIDE.md
  superdog_v06_governance_package/SUPERDOG_DEVELOPMENT_GOVERNANCE.md
  superdog_v06_governance_package/SUPERDOG_UNIFIED_STRATEGY_API_SPEC_V06.md
  superdog_v06_governance_package/SUPERDOG_V06_ARCHITECTURE_ANALYSIS.md
Due: none

fix: Update pre-commit to use python3 instead of python
  .pre-commit-config.yaml
  backtest/broker.py
Due: check-empty-python-files

fix: Add numerical overflow protection to broker
  superdog_v06_validation_report.json
Due: none

feat: 新增 SuperDog v0.7 智能數據抓取系統
  data/downloaders/__init__.py
  data/downloaders/multi_tf_downloader.py
  data/downloaders/rate_limiter.py
  data/downloaders/robust_downloader.py
  data/downloaders/symbol_mapper.py
  data/downloaders/top_symbols_fetcher.py
  tests/test_multi_tf_downloader.py
  tests/test_rate_limiter.py
  tests/test_robust_downloader.py
  tests/test_symbol_mapper.py
  tests/test_top_symbols_fetcher.py
Due: check-empty-python-files, check-version-consistency

docs: 新增 v0.7 設計文檔，修復 DownloadConfig 導出
  data/downloaders/__init__.py
  docs/v0.7/SUPERDOG_V07_DATA_DOWNLOAD_DESIGN.md
  docs/v0.7/SUPERDOG_V07_FINAL_DESIGN_CONFIRMATION.md
Due: check-version-consistency

feat: Add DualMA Strategy v1.0 - 雙均線趨勢跟隨策略
  CHANGELOG.md
  strategies/dual_ma_v1.py
  test_dual_ma.py
Due: check-empty-python-files, check-version-consistency

fix: Broker 權益計算修復 (mark-to-market)
  CHANGELOG.md
  backtest/broker.py
Due: check-empty-python-files, check-version-consistency

fix: Broker 槓桿平倉計算修復 + SimpleSMA 策略修正
  backtest/broker.py
  strategies/simple_sma.py
Due: check-empty-python-files

feat: SuperDog v1.0 完整發布 - 策略API系統與清理整合
  .gitignore
  CHANGELOG.md
  backtest/broker.py
  backtest/engine.py
  cli/backtest_wizard.py
  cli/report_generator.py
  configs/backtest_dualma_top20.yaml
  configs/download_top300.yaml
  data/config.py
  data/exchanges/binance_connector.py
  docs/STRATEGY_API.md
  docs/v1.0/DESIGN.md
  execution/runner.py
  execution/walk_forward.py
  scripts/download_bulk.py
  scripts/download_perpetual.py
  scripts/run_batch_backtest.py
  scripts/run_bige_backtest.py
  strategies/api_v2.py
  strategies/base.py
  strategies/bige_dual_ma.py
  superdog.py
  utils/__init__.py
  utils/market_classifier.py
Due: check-empty-python-files, check-version-consistency

feat: Broker 滑點模擬 + 策略回撤保護機制
  backtest/broker.py
  scripts/final_backtest_report.py
  scripts/robustness_test.py
  scripts/test_new_mechanisms.py
  strategies/bige_dual_ma.py
Due: check-empty-python-files

feat: BiGe 7x 實盤系統 v1.0 - VPS 部署完成
  .gitignore
  backtest/broker.py
  config/__init__.py
  config/production_phase1.py
  deploy/setup_vps.sh
  docs/PRODUCTION_CHECKLIST.md
  docs/STRATEGY_LOCK.md
  live/__init__.py
  live/binance_broker.py
  live/runner.py
  scripts/analyze_best_strategy.py
  scripts/analyze_best_strategy_v2.py
  scripts/analyze_top20_full.py
  scripts/check_liquidations.py
  scripts/check_realism.py
  scripts/full_performance_report.py
  scripts/full_report.py
  scripts/optimize_risk_control.py
  scripts/random_sample_validation.py
  scripts/test_add_position_strategies.py
  scripts/test_fuyun_aggressive.py
  scripts/test_fuyun_correct.py
  scripts/test_fuyun_optimized.py
  scripts/test_fuyun_rolling.py
  scripts/test_fuyun_yearly.py
  scripts/test_hybrid_strategy.py
  scripts/test_hybrid_v2.py
  scripts/test_leverage_modes.py
  scripts/test_optimal_config.py
  scripts/test_profit_based_add.py
  scripts/time_sensitivity_test.py
  scripts/top50_backtest.py
  scripts/yearly_backtest_report.py
  strategies/bige_dual_ma.py
Due: check-empty-python-files, check-version-consistency

feat: 實盤系統完善 - 加速驗證配置 + 通知改進
  .gitignore
  config/production_phase1.py
  live/multi_runner.py
  live/notifier.py
  live/runner.py
Due: check-empty-python-files

fix: 修復心跳通知盈虧顯示 + 平倉價格計算 + 加強止損日誌
  live/binance_broker.py
  live/multi_runner.py
  scripts/diagnose_stop_loss.py
  scripts/diagnose_xrp_position.py
Due: check-empty-python-files

feat: 交易日誌系統 + 12/29 緊急止損事件記錄
  docs/observations/2025-12-29_emergency_stop_event.md
  live/multi_runner.py
  live/trade_logger.py
Due: check-empty-python-files

fix: 修復 f-string 格式錯誤導致機器人崩潰
  live/multi_runner.py
Due: check-empty-python-files

fix: 加強平倉價格計算 - 處理空字串 + 市價保險
  live/binance_broker.py
Due: check-empty-python-files

docs: 更新 CHANGELOG v1.0.2 - 影子系統 + 架構整理
  CHANGELOG.md
Due: check-version-consistency

Path conditions:
  check-empty-python-files: any of: \.py$, but not: __init__\.py$
  check-version-consistency: any of: (README\.md|CHANGELOG\.md|__init__\.py)$
